<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <a href="/" style="color: rgb(0, 198, 132); display: inline-block; margin-top: 1rem; margin-left: 1rem;">go back to home</a>
    <h1 style="margin-left: 2rem; margin-top: 1.2rem; color: rgb(206, 201, 201);"><%= filename %></h1>
    <p class="task-text" style="margin-left: 2rem; margin-top: 2.5rem; color: whitesmoke; white-space: pre-wrap;"><%= filedata %></p>
    
</body>
</html>